{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}
{% endblock %}

{% block body%}
    <div class="container text-white">
        <h2 class="text-green text-title">Modifier un compte utilisateur</h2>
        {{ form_start(form)}}
            {# Dans le cas où on utilise pas le theme bootstrap
            {{ form_widget(form.name) }}
            {{ form_widget(form.email) }}
            {{ form_widget(form.nickname) }}
            {{ form_widget(form.slug) }}
            {{ form_widget(form.submit) }} #}
        {{ form_end(form)}}
    </div>
{% endblock %}