{% extends 'base.html.twig' %}

{% block title %}Le compte de {{userEntity.name}}{% endblock %}

{% block body %}
    <h2>Compte de <span class="text-green">{{userEntity.name}}</span></h2>
    <h2>Pseudo{{userEntity.nickname}}</h2>
    <h2>Name:{{userEntity.name}}</h2>
    <h2>Pseudo:{{userEntity.nickname}}</h2>
{% endblock %}
