{% extends 'base.html.twig' %}

{% block title %}Le compte de {{userEntity.name}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="container-user mb-5">
                <i class="fa-solid fa-circle-user fa-6x"></i>
                <h2 class="text-green text-title mb-3">{{userEntity.nickname | capitalize }}</h2>
                    <h4 class="text-white"><i class="fa-solid fa-user"></i> {{userEntity.name}}</h4>
                    <h4 class="text-white"><i class="text-green fa-solid fa-sack-dollar"></i> {{userEntity.wallet}}€</h4>
                    {# totalGameTime issu de account et time_to_string : filtre twig à partir d'un service TimeConverterService #}
                    <h4 class="text-white"><i class="text-red fa-solid fa-trophy"></i> {{userEntity.totalGameTime | time_to_string}}</h4>
            </div>
        

                {% for library in userEntity.libraries %}
                <div class="col-lg-4 col-md-6 card border-lightgrey bg-lightgrey">
                    {% if library.game.thumbnailCover is defined %}
                        <a class="text-decoration-none" href="{{ path('app_game_show', {'slug': library.game.slug}) }}">
                            <div class="image-container">
                                <img src="{{library.game.thumbnailCover}}" class="card-img-top mx-auto text-white" alt="{{library.game.name}}">
                            </div>
                        </a>
                    {% endif %}
                    <div class="card-body">
                    <div class="card-text row">
                        <p class="text-white">
                            <i class="fa-solid fa-circle {% if library.installed == true %}text-green{% else %}text-red{% endif %}">
                            </i>
                            <span class="text-title">{{ library.game.name }}</span>
                        </p>
                        <p class="text-white">
                            Temps de jeu: {{library.gameTime | time_to_string}}
                        </p>
                    </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
