{% extends 'base.html.twig' %}

{% block title %}Le compte de {{userEntity.name}}{% endblock %}

{% block body %}
    <h1>Name:{{userEntity.name}}</h1>
    <h1>Pseudo{{userEntity.nickname}}</h1>
    <h1>Name:{{userEntity.name}}</h1>
    <h1>Pseudo:{{userEntity.nickname}}</h1>
{% endblock %}
