{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}


{% block body %}

    <div class="global-container my-5">
        <h2 class="text-center text-green">Les dernières sorties</h2>
        <div class="container my-5">
            <div class="row align-items-center justify-content-between text-center">
                {% for game in latestGamesArray  %}
                    {% include "game/_card.html.twig" %}
                {% endfor %}

                {# {% if message is defined %}
                    {{ message }}
                {% endif %} #}
            </div>
        </div>


        <h2 class="text-center text-green">Les plus joués</h2>
        <div class="container my-5">
            <div class="row align-items-center justify-content-between text-center">
                {% for game in mostPlayedGamesArray  %}
                    {% include "game/_card.html.twig" %}
                {% endfor %}
            </div>
        </div>
        
        <h2 class="text-center text-green">Les derniers commentaires</h2>
        {#Format demandé : Le 21 janvier 2022, par pseudoJoueur #}
        <div class="container my-5">
                {% for comment in latestCommentsArray %}
                    <div class="card-body">
                        <h5 class="card-title">Le {{comment.createdAt | date('d-m-Y')}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Par {{comment.account.nickname}}</h6>
                        <p class="card-text text-white">{{comment.content}}</p>
                        <div class="text-green"><i class="fa-solid fa-thumbs-up"></i>{{comment.upVotes}}</div>
                        <div class="text-grey"><i class="fa-solid fa-thumbs-down"></i>{{comment.downVotes}}</div>
                    </div>
                {% endfor %}
        </div>

        <h2 class="text-center text-green">Les plus achetés</h2>
        <div class="container my-5">
            <div class="row align-items-center justify-content-between text-center">
                {% for game in mostBoughtGamesArray  %}
                    {% include "game/_card.html.twig" %}
                {% endfor %}
            </div>
        </div>



    </div>
{% endblock %}