{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h1>{{ game.name}}</h1>
    <img src="{{ game.thumbnailCover }}">

    <h2>Description</h2>
    <p> {{ game.description }} </p>
    <h2>Langue Disponible</h2>
{% for countriesValues in game.countries  %}
    <img src="{{ countriesValues.urlFlag }}">
    <p>{{ countriesValues.name }}</p>
    {% endfor %}



</div>
{% endblock %}

{% block title %}

{% endblock %}

