{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col-lg-5">
            <div class="containerDetailsimg px-5">
                <img src="{{ game.thumbnailCover }}">
            </div>
        </div>
        <div class="col-lg-7 ">
            <h1 class="mb-4 text-green text-title">{{ game.name}}</h1>
            <h2>Description</h2>
            <p class="text-white"> {{ game.description }} </p>

            <h2>Langues disponibles</h2>
            {% for countriesValues in game.countries  %}
                <img src="{{ countriesValues.urlFlag }}" title="{{ countriesValues.name }}">
            {% endfor %}
        </div>
    </div>



</div>
{% endblock %}

{% block title %}

{% endblock %}

