<nav class="navbar navbar-expand-lg fixed-top bg-grey">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}" ><i class="fa-solid fa-dice-d6 text-green h1"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-title text-green h1" href="{{path('app_game')}}">Jeux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-title text-green h1" href="{{ path('app_publisher') }}">Editeurs</a>
                </li>
{#                A ajouter dans la partie administrateur#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link navbar-title text-green h1" href="{{ path('app_accounts') }}">Comptes</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link navbar-title text-green h1">Forum</a>
                </li>
                {# si l'utilisateur est un admin #}
                 {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link navbar-title text-green h1" href="{{ path('app_admin') }}">Dashboard</a>
                </li
                 {% endif %}

            </ul>
        </div>
        {# Search bar (render : return la réponse d'une méthode d'un controleur) #}
        {{
            render(controller('App\\Controller\\SearchBarController::index'))
        }}
    </div>
    {# pour logout #}
    {% if app.user %}
    <div class="nav-item">
        <a class="nav-link navbar-title text-green h1" href="{{ path('app_logout') }}">
            <i class="fa-solid fa-user-check"></i>
        </a>
    </div>
    {# pour login #}
    {% else %}
    <div class="nav-item">
        <a class="nav-link navbar-title text-white h1" href="{{ path('app_login') }}">
            <i class="fa-solid fa-user"></i>
        </a>
    </div>
    {% endif %}
</nav>